<template>
  <v-app-bar
    clipped-left
    scroll-threshold="50"
    hide-on-scroll
    fixed
    app
  >
    <v-app-bar-nav-icon @click.stop="$emit('update:drawer', !drawer)" />

    <v-toolbar-title class="pl-2">
      {{ title }}
    </v-toolbar-title>

    <v-spacer />

    <div v-if="!isAuthenticated">
      <v-btn color="primary" class="mr-2" to="/register">
        Register
      </v-btn>

      <v-btn outlined color="primary" to="/login">
        Login
      </v-btn>
    </div>
  </v-app-bar>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DefaultNavbar',
  props: {
    drawer: {
      type: Boolean,
      default: false
    },
    rightDrawer: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      title: 'Hattrick League'
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
  }
}
</script>
