<template>
  <v-navigation-drawer
    v-model="drawerMenu"
    clipped
    fixed
    app
  >
    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>

      <div v-if="isAuthenticated">
        <v-divider />

        <v-list-item to="/account">
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title v-text="'Account'" />
            <v-list-item-subtitle v-text="loggedInUser.email" />
          </v-list-item-content>
        </v-list-item>
      </div>
    </v-list>

    <template v-if="isAuthenticated" v-slot:append>
      <div class="pa-2">
        <v-btn
          color="red"
          block
          @click="logout"
        >
          <v-icon>mdi-logout</v-icon>
          <span class="pl-1">Log Out</span>
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DefaultMenu',
  props: {
    drawer: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      items: [
        {
          icon: 'mdi-home',
          title: 'Home',
          to: '/'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
    drawerMenu: {
      get () {
        return this.drawer
      },
      set (newValue) {
        this.$emit('update:drawer', newValue)
      }
    }
  },
  watch: {
    drawer (newValue) {
      this.$emit('update:drawer', newValue)
    }
  },
  methods: {
    async logout () {
      await this.$auth.logout()
      this.$emit('update:drawer', false)
    }
  }
}
</script>
