<template>
  <v-footer
    :absolute="false"
    app
  >
    <span>Hattrick League &copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</template>

<script>
export default {
  name: 'DefaultFooter'
}
</script>
