<template>
  <v-app dark>
    <DefaultMenu :drawer.sync="drawer" />
    <DefaultNavbar :drawer.sync="drawer" />

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <DefaultFooter />
  </v-app>
</template>

<script>
import DefaultMenu from '~/components/layout/DefaultMenu'
import DefaultNavbar from '~/components/layout/DefaultNavbar'
import DefaultFooter from '~/components/layout/DefaultFooter'

export default {
  components: { DefaultFooter, DefaultNavbar, DefaultMenu },
  data () {
    return {
      drawer: false,
      miniVariant: false,
      rightDrawer: false,
      title: 'Hattrick League'
    }
  }
}
</script>
