<template>
  <v-layout>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6" lg="4">
          <h2>
            Profile
          </h2>

          <div class="content">
            <p>
              <strong>Username:</strong>
              {{ loggedInUser.username }}
            </p>

            <p>
              <strong>Email:</strong>
              {{ loggedInUser.email }}
            </p>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  middleware: 'auth',
  computed: {
    ...mapGetters(['loggedInUser'])
  }
}
</script>

<style scoped>

</style>
