<template>
  <v-layout>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6" lg="4">
          <v-card class="elevation-12">
            <v-toolbar dark flat>
              <v-toolbar-title>
                Forgot password
              </v-toolbar-title>
            </v-toolbar>

            <v-card-text class="py-0">
              <v-alert v-if="error" dense outlined type="error" class="my-3">
                {{ error }}
              </v-alert>

              <v-alert v-if="success" dense outlined type="success" class="my-3">
                {{ success }}
              </v-alert>

              <v-form
                v-if="!success"
                ref="resetPasswordForm"
                v-model="valid"
                lazy-validation
                dark
                method="post"
                @submit.prevent="forgotPassword"
              >
                <v-text-field
                  id="email"
                  v-model="email"
                  label="E-mail address"
                  name="email"
                  :rules="emailRules"
                  type="email"
                  required
                  validate-on-blur
                />
              </v-form>
            </v-card-text>

            <v-card-actions class="mx-2 pb-4">
              <v-btn
                v-if="!success"
                block
                color="primary"
                :disabled="!valid"
                type="submit"
                @click.prevent="forgotPassword"
              >
                Get reset link
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  middleware: 'guest',
  data () {
    return {
      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      success: null,
      error: null
    }
  },
  methods: {
    async forgotPassword () {
      this.error = null
      const isValid = this.$refs.resetPasswordForm.validate()

      if (!isValid) {
        this.error = 'Email is not valid.'
        return
      }

      try {
        await this.$axios.post('auth/forgot-password', {
          email: this.email
        })
        this.error = null
        this.success = `If a matching account was found an email was sent to ${this.email} to allow you to reset your password.
        Please click on the link to complete the password reset.`
      } catch (e) {
        this.error = e.response.data.message[0].messages[0].message
      }

      this.$refs.resetPasswordForm.resetValidation()
    }
  }
}
</script>

<style scoped>

</style>
