<template>
  <v-layout>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6" lg="4">
          <v-card class="elevation-12">
            <v-toolbar dark flat>
              <v-toolbar-title>
                Login
              </v-toolbar-title>
            </v-toolbar>

            <v-card-text class="py-0">
              <v-alert v-if="error" dense outlined type="error" class="my-3">
                {{ error }}
              </v-alert>

              <v-form
                v-if="!success"
                ref="loginForm"
                v-model="valid"
                lazy-validation
                dark
                method="post"
                @submit.prevent="login"
              >
                <v-text-field
                  id="email"
                  v-model="email"
                  label="E-mail address"
                  name="email"
                  :rules="emailRules"
                  type="email"
                  required
                  validate-on-blur
                />

                <v-text-field
                  id="password"
                  v-model="password"
                  :rules="passwordRules"
                  label="Password"
                  name="password"
                  :type="showPassword ? 'text' : 'password'"
                  required
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                />
              </v-form>
            </v-card-text>

            <v-card-actions class="mx-2 pb-4">
              <v-spacer />

              <v-btn
                block
                color="primary"
                :disabled="!valid"
                type="submit"
                @click.prevent="login"
              >
                Login
              </v-btn>
            </v-card-actions>
          </v-card>

          <v-card
            class="mt-3 text-center"
          >
            <v-card-text>
              <nuxt-link to="/forgot-password">
                Forgot password?
              </nuxt-link>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  middleware: 'guest',
  data () {
    return {
      valid: false,
      error: null,
      email: null,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      password: null,
      passwordRules: [
        v => (v && v.length > 0) || 'Password is required'
      ],
      showPassword: false,
      success: null
    }
  },
  methods: {
    async login () {
      this.error = null

      const isValid = this.$refs.loginForm.validate()

      if (!isValid) {
        this.error = 'Invalid email and/or password.'
        return
      }

      try {
        await this.$auth.loginWith('local', {
          data: {
            identifier: this.email,
            password: this.password
          }
        })
      } catch (error) {
        if (error.response.status >= 500) {
          this.error = 'Service temporary down. Try again later.'
          return
        }

        this.error = 'Invalid email and password combination.'
        this.$refs.loginForm.resetValidation()
      }
    }
  }
}
</script>

<style scoped>

</style>
