<template>
  <v-layout>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6" lg="4">
          <v-card class="elevation-12">
            <v-toolbar dark flat>
              <v-toolbar-title>
                Register
              </v-toolbar-title>
            </v-toolbar>

            <v-card-text class="py-0">
              <v-alert v-if="error" dense outlined type="error" class="my-3">
                {{ error }}
              </v-alert>

              <v-alert v-if="success" dense outlined type="success" class="my-3">
                {{ success }}
              </v-alert>

              <v-form
                v-if="!success"
                ref="registerForm"
                v-model="valid"
                lazy-validation
                dark
                method="post"
                @submit.prevent="register"
              >
                <v-text-field
                  id="email"
                  v-model="email"
                  label="E-mail address"
                  name="email"
                  :rules="emailRules"
                  type="email"
                  required
                  validate-on-blur
                />

                <v-text-field
                  id="password"
                  v-model="password"
                  :rules="passwordRules"
                  label="Password"
                  name="password"
                  :type="showPassword ? 'text' : 'password'"
                  required
                  validate-on-blur
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                />

                <v-text-field
                  id="password-confirm"
                  v-model="passwordConfirm"
                  :rules="[passwordMatch]"
                  label="Confirm password"
                  name="password-confirm"
                  :type="showPassword ? 'text' : 'password'"
                  required
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                />
              </v-form>
            </v-card-text>

            <v-card-actions class="mx-2 pb-4">
              <v-spacer />

              <v-btn
                v-if="!success"
                block
                color="primary"
                :disabled="!valid"
                type="submit"
                @click.prevent="register"
              >
                Register
              </v-btn>
            </v-card-actions>
          </v-card>

          <v-card
            class="mt-3 text-center"
          >
            <v-card-text>
              Already have an account?
              <nuxt-link to="/login">
                Log In
              </nuxt-link>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  middleware: 'guest',
  data () {
    return {
      valid: false,
      email: null,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      password: null,
      passwordRules: [
        v => (v && v.length >= 8) || 'Password must have at least 8 characters'
      ],
      passwordConfirm: null,
      showPassword: false,
      error: null,
      success: null
    }
  },
  computed: {
    passwordMatch () {
      return () => this.password === this.passwordConfirm || 'Passwords must match'
    }
  },
  methods: {
    async register () {
      this.error = null

      const isValid = this.$refs.registerForm.validate()

      if (!isValid) {
        this.error = 'Invalid email and/or password.'
        return
      }

      try {
        await this.$strapi.register({ email: this.email, username: this.username, password: this.password })

        this.success = `A confirmation link has been sent to your email account.
        Please click on the link to complete the registration process`
      } catch (error) {
        this.error = error.response.data.message[0].messages[0].message
      }

      this.$refs.registerForm.resetValidation()
    }
  }
}
</script>

<style scoped>

</style>
