<template>
  <v-layout>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6" lg="4">
          <v-card class="elevation-12">
            <v-toolbar dark flat>
              <v-toolbar-title>
                Reset password {{ valid }}
              </v-toolbar-title>
            </v-toolbar>

            <v-card-text class="py-0">
              <v-alert v-if="error" dense outlined type="error" class="my-3">
                {{ error }}
              </v-alert>

              <v-alert v-if="success" dense outlined type="success" class="my-3">
                {{ success }}
              </v-alert>

              <v-form
                v-if="!success"
                ref="resetPasswordForm"
                v-model="valid"
                lazy-validation
                dark
                method="post"
                @submit.prevent="resetPassword"
              >
                <v-text-field
                  id="password"
                  v-model="password"
                  :rules="passwordRules"
                  label="Password"
                  name="password"
                  :type="showPassword ? 'text' : 'password'"
                  required
                  validate-on-blur
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                />

                <v-text-field
                  id="password-confirm"
                  v-model="passwordConfirm"
                  :rules="[passwordMatch]"
                  label="Confirm password"
                  name="password-confirm"
                  :type="showPassword ? 'text' : 'password'"
                  required
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                />
              </v-form>
            </v-card-text>

            <v-card-actions class="mx-2 pb-4">
              <v-spacer />

              <v-btn
                v-if="!success"
                block
                color="primary"
                :disabled="!valid || !(password && passwordConfirm)"
                type="submit"
                @click.prevent="resetPassword"
              >
                Reset password
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  middleware: 'guest',
  asyncData ({ route, redirect }) {
    if (!route.query.code) {
      redirect('/forgot-password')
    } else {
      return {
        code: route.query.code
      }
    }
  },
  data () {
    return {
      valid: false,
      password: null,
      passwordConfirm: null,
      passwordRules: [
        v => (v && v.length >= 8) || 'Password must have at least 8 characters'
      ],
      showPassword: false,
      success: null,
      error: null
    }
  },
  computed: {
    passwordMatch () {
      return () => this.password === this.passwordConfirm || 'Passwords must match'
    }
  },
  methods: {
    async resetPassword () {
      this.error = null

      const isValid = this.$refs.resetPasswordForm.validate()

      if (!isValid) {
        this.error = 'Password error'
        return
      }

      try {
        await this.$axios.post('auth/reset-password', {
          code: this.code,
          password: this.password,
          passwordConfirmation: this.passwordConfirm
        })

        this.success = 'Password updated successfully. You can now use it to log in to your account.'
      } catch (error) {
        if (error.response.status >= 500) {
          this.error = 'Service temporary down. Try again later.'
          return
        }

        this.error = error.response.data.message[0].messages[0].message
      }

      this.$refs.resetPasswordForm.resetValidation()
    }
  }
}
</script>

<style scoped>

</style>
